@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Leaflet map */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* Prevent map overflow issue */
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}